.item {
    cursor: pointer;
}
.item img {
    width: 100%;
    height: 350px; 
    object-fit: cover;
    border-radius: 8px;
}
#lightbox {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
#box {
    position: relative;
    width: 50%;
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.4s ease;
}
#lightbox.show #box {
    transform: scale(1);
    opacity: 1;
}
#box i {
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 10px;
}
#closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
}
@media (max-width: 768px) {
    .item img {
        height: 180px;     
    }

    #box {
        width: 90%;
        height: 60vh;
    }

}
